@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

html,
body,
#root,
.app,
.content {
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  background-color: #F9FBFD;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar{
  display: none;
}
